@import "../node_modules/bootstrap/scss/functions";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}


a {
    text-decoration: none;
}


span {
    color: #b9b9b9;
}